<TSP>
	<TspLocationsFileName> wi29.tsp </TspLocationsFileName>
	<PopulationSize> 200 </PopulationSize>
	<MigrationPercentage> 0.1 </MigrationPercentage>
	<ScramblePercentage> 0.4 </ScramblePercentage>
	<MutationProbability> 0.1 </MutationProbability>
	<CrossoverProbability> 0.9 </CrossoverProbability>
	<SimilarityRatio> 0.7 </SimilarityRatio>
	<ExecutionTimeSeconds> 60 </ExecutionTimeSeconds>
	<ExchangePeriodSeconds> 1 </ExchangePeriodSeconds>
	<NodesList size='4'>
		<Node speed='1' capacity='7'> Computer1 </Node>
		<Node speed='2' capacity='8'> Computer2 </Node>
		<Node speed='3' capacity='9'> Computer3 </Node>
		<Node speed='4' capacity='8'> Computer4 </Node>
	</NodesList>
</TSP>
