@model Clinic.Models.AddConsultation

@{
    ViewData["Title"] = "Create";
    
}

<link rel="stylesheet" href="~/css/window.css" />
<div class="window-wrapper">
    <div class="window">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="header">
                Add Consultation
                <a href="/home" class="btn-X">X</a>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-lg-3 ">
                        <div class="table1">
                            <div class="form-group">
                                <label class="control-label">Patient</label>
                                <select asp-for="@Model.SelectedPatientId" asp-items="@Model.Patients" class="form-control" style="border-radius:20px;"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Type" class="control-label"></label>
                                <select asp-for="Type" asp-items="@Model.Types" class="form-control" style="border-radius:20px;"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Temperature" class="control-label"></label>
                                <input asp-for="Temperature" class="form-control" />
                                <span asp-validation-for="Temperature" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BloodPressure" class="control-label"></label>
                                <input asp-for="BloodPressure" class="form-control" />
                                <span asp-validation-for="BloodPressure" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cost" class="control-label"></label>
                                <input asp-for="Cost" class="form-control" />
                                <span asp-validation-for="Cost" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="InsuranceConfirmation"  /> Insurance Confirmation
                                <span asp-validation-for="InsuranceConfirmation" class="text-danger"></span>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-9">
                        <div class="table1">

                            <div class="form-group">
                                <label asp-for="Symptoms" class="control-label"></label><br />
                                <textarea asp-for="Symptoms" rows="4"></textarea>
                                <span asp-validation-for="Symptoms" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Diagnosis" class="control-label"></label><br />
                                <textarea asp-for="Diagnosis" rows="4"></textarea>
                                <span asp-validation-for="Diagnosis" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Treatment" class="control-label"></label><br />
                                <textarea asp-for="Treatment" rows="4" cols="90%"></textarea>
                                <span asp-validation-for="Treatment" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="footer">


                <input type="submit" value="Save" class="btn btn-success" />


            </div>
        </form>
    </div>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1>@ViewData["Error"]</h1>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    ;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<style>
    .top {
        margin-top: 0px;
        height: 78px;
    }

    td {
        padding: 2px 30px;
    }

    select, textarea, input[type="text"] {
        width: 100%;
        border: 1px solid #999999;
        border-radius: 30px;
        padding: 10px;
    }
</style>



