<TSP>
	<TspLocationsFileName> wi29.tsp </TspLocationsFileName>
	<PopulationSize> 100 </PopulationSize>
	<ScramblePercentage> 0.4 </ScramblePercentage>
	<MutationProbability> 0.5 </MutationProbability>
	<CrossoverProbability> 0.9 </CrossoverProbability>
	<SimilarityRatio> 0.7 </SimilarityRatio>
	<ExecutionTimeSeconds> 10 </ExecutionTimeSeconds>
</TSP>
