@model Clinic.Models.Message

<style>
    ul{
        display:none;
    }
</style>
<br />
    <div class="container" style="text-align:center;max-width:900px">



        <div class="window">
            <div class="header">
                <h4>Message</h4>
            </div>
      
        <form asp-action="Create">
            <div class="body">
             
                            <div class="row">
                                <div class="col-md-12">

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Subject" class="control-label"></label>
                                        <input asp-for="Subject" class="form-control" />
                                        <span asp-validation-for="Subject" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Content" class="control-label"></label>
                                        <textarea asp-for="Content" class="form-control" rows="5">
                    Hello ,
                     I'm Doctor Anne Hathaway.
                     I am a doctor specialized at heart diseases treatment.
                     I want to join your clinic so I would be very grateful if you added me.
                     Thanks in advance .

                 </textarea>
                                        <span asp-validation-for="Content" class="text-danger"></span>
                                    </div>
                                </div>
                                </div>
                </div>
                                <div class="footer">
                                    <div class="form-group">
                                        <input type="submit" value="Send" class="btn btn-primary" />
                                    </div>
                                    </div>
                              
        </form>
        
        </div>
        </div>
        
      




 
