
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Done </title>
</head>
<body>
    <h1>Thank you, we will reply soon</h1>
</body>
</html>
