@model Clinic.Models.EditAppointment



<head>


    
    <style>
         body,html{
        width:100%;
        height:100%;
    }
        .app-container {
            width: 400px;
            border: 2px groove #111FE6;
            padding: 20px 30px;
            text-align: center;
            font-size: 18px
        }
    </style>



</head>

<body>
    
        <br />
        <br />
    <div class="window-wrapper ">
        <div class="window" style="width:450px">
            <div class="header">
                <h3>Edit an appointment</h3>
            </div>
            <form asp-action="Edit">
                <div class="body ">
                    <h4 class="text-danger">@ViewData["Message"]</h4>
                    <div class="form-group">
                        <label class="control-label">Choose the patient</label>

                        <select asp-for="SelectPatientId"  asp-items="@Model.Patients" class="form-control ss"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Choose a date</label>

                        <input   asp-for="Date" value="@Model.Date"  type='date' class="form-control ss" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Choose a time</label>
                        <input asp-for="Time"  value="@Model.Time" type='time' class="form-control ss" />
                    </div>
                </div>
                          
                <div class="footer" style="text-align:center;padding-top:20px;">
                    <div class="form-group">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="  Save " class="btn btn-success btn-lg" style="padding:10px 50px;" />
                    </div>
                </div>
</form>
        </div>
    </div>
       
  
           
                    <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker();
                                });
                    </script>

        
        <script src="./js/prettify-1.0.min.js"></script>
        <script src="./js/base.js"></script>
        <script>
                    if (top != self) { top.location.replace(self.location.href); }
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-47462200-1', 'eonasdan.github.io');
                    ga('send', 'pageview');
        </script>


</body>
