@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}



        <div class="bg">

            <!-- main -->
            <div class="main-w3layouts wrapper" style="padding-left:20px">

                <div style="width:35%;    background-color:rgba(0,0,10,0.18);">
                    <div class="agileits-top">
                        <form id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input  class="text  mine" asp-for="Input.UserName" placeholder="Username" required="">
                            <input class="text email mine" asp-for="Input.Password" placeholder="Password" required="">
                            <input type="submit" value="LOG IN">
                        </form>
                        <form asp-controller="Messages" asp-action="Create" method="get">
                            <input type="submit" value="Contac Us">
                        </form>
                    </div>
                </div>

            </div>
        </div>



    





    

