<ul>
    <li>

        <a class="a1" asp-controller="Home" asp-action="Index">  <i class="fas fa-home" style="color:#fff;font-size:20px"></i> Clinic</a>

    </li>
    <li class="dropdown">
        <a  asp-controller="Patients" asp-action="Search" class="dropbtn">Patients</a> 
    </li>
    <li class="dropdown">
        <a asp-controller="Reports" asp-action="Index"  class="dropbtn">Reports</a>
        
    </li>
 
    <Partial name="Reminder_Account_Partial.cshtml">
</ul>
<partial name="_CookieConsentPartial" />
