<ul>
    <li>
        <a class="a1" asp-controller="Home" asp-action="Index">  <i class="fas fa-home" style="color:#fff;font-size:20px"></i> Clinic</a>
    </li>
    <li class="dropdown">
        <a asp-controller="Doctors" asp-action="Search" class="dropbtn">Doctors</a>
    </li>
    <li class="dropdown">
        <a asp-controller="Consultations" asp-action="SearchPatientsConsultations" class="dropbtn">Consultations</a>
    </li>
    <li class="dropdown">
        <a class="a1" asp-controller="Appointments" asp-action="PatientsAppointments"> Appointments</a>

    </li>
    <Partial name="Reminder_Account_Partial.cshtml">
</ul>
<partial name="_CookieConsentPartial" />






















        
                


